body{
    background-color: goldenrod;
}
#el1 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
#el2 {
    background-color: paleturquoise;
    width: 100px;
    height: 100px;
}
#el3 {
    background-color: firebrick;
    width: 100px;
    height: 100px;
}